<mat-toolbar>
  <span>List of the most starred Github repos that were created in the last 30 days. </span>
</mat-toolbar>
<mat-card>
<mat-list >
    
  <mat-list-item *ngFor="let repo of repositories ">
    
    <img matListAvatar src="{{repo.owner.avatar_url}}" alt="owner avatar">
    <h3 matLine> {{repo.name}} </h3>
    <p matLine class="demo-2">{{repo.description}} </p>

    <p matLine>
        <span>  {{repo.stargazers_count}}</span>
         <span>  {{repo.open_issues_count}}</span>
      <span class="demo-2 ">  {{repo.created_at}} </span>
      <span> by {{repo.owner.login}}</span>

    </p>
    <mat-divider></mat-divider>

  
  </mat-list-item>

</mat-list>
</mat-card>




