mat-card {
    max-width: 60%;
    margin: 2em auto;
  }
mat-toolbar span{
    display: block;
    margin: 0 auto;
}

.spacer{
  padding-left:  20px;
}

.mylist {
  height: 90vh;
  overflow-y: scroll;
}
 .fetch {
  max-width: 60%;
  margin: 2em auto;
}
  .search-results {
    height: 20rem;
    overflow: scroll;
}

.asd{
  height: 10em;
}
.card {
  max-width: 60%;
  margin: 2em auto;
}
